<div>
<p> Experience: </p>
	<mat-card class="project-card">
		<mat-card-header>
			<mat-card-title> Freelance Developer </mat-card-title>
			<mat-card-subtitle> New York, NY June 2019 - Present </mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
				<p> Developing automatic formatting tool in Java for publisher that will save time and increase accuracy when preparing manuscripts for publication. </p>
		</mat-card-content>
	</mat-card>
	<mat-card class="project-card">
		<mat-card-header>
			<mat-card-title> Shadowed Data Analyst </mat-card-title>
			<mat-card-subtitle> Looker, New York, NY January 2019 </mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
				<p> Learned how to use Looker app, a business intelligence tool that converts data into charts and graphs; provided with simulated data set to create a business pitch for shipping company. </p>
		</mat-card-content>
	</mat-card>
	<mat-card class="project-card">
		<mat-card-header>
			<mat-card-title> Intern </mat-card-title>
			<mat-card-subtitle> FSM Holdings, San Francisco, CA Summer 2018 </mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
				<p> Wrote development process manual and coded scripts for development and testing of modified Red Hat OS. </p>
		</mat-card-content>
	</mat-card>
	<mat-card class="project-card">
		<mat-card-header>
			<mat-card-title> Intern </mat-card-title>
			<mat-card-subtitle> GlooPen Inc., January 2018 </mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
				<p> Developed back end of web game to run on the GlooPen platform, using node.js, MongoDB, and socket.io. </p>
		</mat-card-content>
	</mat-card>
</div>
