<div>
<p> Experience: </p>
	<mat-card class="project-card">
		<mat-card-header>
			<mat-card-title> Intern </mat-card-title>
			<mat-card-subtitle> FSM Holdings, San Francisco, CA Summer 2018 </mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
				<p> Wrote development process manual and coded scripts for development and testing of modified Red Hat OS. </p>
		</mat-card-content>
	</mat-card>
	<mat-card class="project-card">
		<mat-card-header>
			<mat-card-title> Intern </mat-card-title>
			<mat-card-subtitle> GlooPen Inc., San Francisco, CA January 2018 </mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
				<p> Developed back end of web game to run on the GlooPen platform, using node.js, MongoDB, and socket.io. </p>
		</mat-card-content>
	</mat-card>
</div>
