.project-card{
	max-width: 600px; 
	margin: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 10px solid dodgerblue;
}

.project-header{
	background: white;
}

.project-content{
	background: white;
}