<div>
<p> Education: </p>
	<mat-card class="project-card">
		<mat-card-header>
			<mat-card-title> Lafayette College </mat-card-title>
			<mat-card-subtitle> Easton, PA &nbsp;&nbsp;&nbsp;&nbsp; 2019 </mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
				<p> B.S. Computer Science </p>
		</mat-card-content>
	</mat-card>
	<mat-card class="project-card">
		<mat-card-header>
			<mat-card-title> DeSales University Summer in Rome </mat-card-title>
			<mat-card-subtitle> Rome, Italy &nbsp;&nbsp;&nbsp;&nbsp; Summer 2016 </mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
				<p> Introductory Italian </p>
		</mat-card-content>
	</mat-card>
	<mat-card class="project-card">
		<mat-card-header>
			<mat-card-title> The Flatiron School </mat-card-title>
			<mat-card-subtitle> New York, NY &nbsp;&nbsp;&nbsp;&nbsp; Summer 2017 </mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
				<p> Ruby </p>
		</mat-card-content>
	</mat-card>
</div>
